body {
	padding: 30px;
	font-size: 0px;

}

.container-parent {
    width: 800px;
    height: 500px;
   border: 1px solid black;
	margin-left: auto;
	margin-right: auto;

}

.container {
	border: 1px solid black;
	display: inline-block;
}

.container_half {
	width: 50%;
	height: 200px;
}


.green {
 background-color: green;
}

.blue {
   background-color: blue;
 }ß

.gray {
	background-color: gray;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}