body {
	padding: 30px;
	font-size: 0px;

}

.container-parent {
    width: 800px;
    height: 500px;
    border: 1px solid black;
	margin-left: auto;
	margin-right: auto;

}

.box-half {
  width: 50%;
  height: 200px;
  display: inline-block;

}
  .box-third {
  	width: 33.33%;
	height: 300px;
	display: inline-block;
  }

.green {
  background-color: green;
}

.blue {
   background-color: blue;
 }

.gray {
	background-color: gray;

}

.black {
	background-color: black;
   
}

.orange {
	background-color: orange;
	
}