body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

.container {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	height: 60px;
	background-color: gray;
	position: fixed;
    width: 100%;
}

nav .icon { 
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}  

nav ul {
	display: inline-block;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li::after {
	content: "|";
	margin-left: 5px;

}

nav a {
	text-decoration: none;
}

nav a:hover {
	color: black;
  
}

main {
	padding-top: 90px;
	min-width: 1000px;
}

.box {
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

.spacecat, .spacedog {
	position: relative;
	width: 200px;
}

.spacecat {
    right: 100px;
	bottom: 100px;
}

.spacedog {
	left: 250px;
	top: 200px;
}